.recipe-info2{
    min-height: 200px;
    color: #888888;
}

.container-recipe-info{
    width: 70%;
    margin: 0 auto;
}

.recipe-info2-text{
    position: absolute;
    width: 25%;
    text-align: center;
    top:50px;
    font-size: 16px;
}

.recipe-info2-text-separator{
    border-right: 1px solid #ddd;
    color: #888888;
}

.recipe-info2-text-style{
    color:white;
    font-size:20px;
}

.recipe-all-info{
    background: url(http://testproject.com/images/recipe-container-background.jpg) no-repeat;
    background-size: cover;
}

.recipe-title-container{
    position: relative;
    text-align: center;
    left: 8%;
    width: 50%;
    padding:2em;
    display: inline-block;
}

.recipe-title{
    font-size: 20px;
    font-weight: bold;
}

.recipe-description{
    margin-left: 60px;
    font-size: 14px;
    color:black;
    padding:1em;
    text-align: left;
}

.miscellaneous-recipe-info{
    padding: 3em;
    font-size:14px;
}

.description-separator{
    height:1px;
    background:#717171;
    position: relative;
    top:10px;
    border-bottom:1px solid #313030;
    width: 8%;
    margin: 0 auto;
}

.recipe-social-share-separator{
    height:1px;
    background:#717171;
    position: fixed;
    left:50px;
    border-bottom:1px solid #313030;
    width: 3%;
}

.btn-facebook .round{
    border-radius: 24px;
}


.recipe-share-button{
    margin-top:10px;
    border-radius: 24px;

}

.print-recipe-btn{
    min-width: 150px;
    padding: 2em;
    color: white;
    margin: 0 auto;
}

.recipe-social-share{
    max-width: 100px;
    color:black;
    font-size: 10px;
    font-weight: bold;
    position: fixed;
    left: 50px;
    bottom: 200px;
    z-index: 1000
}

.ingredient-container{
    margin-top: 50px;
    width: 300px;
    position: relative;
    left: 40%;
    background-color: whitesmoke;
    opacity: 0.7;
    display: inline-block;
    margin-bottom: 100px;
}

.check-ingredient{
    margin-right: 5px !important;
}

.ingredient-title{
    padding:1em;
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.ingredient-title-separator{
    height:1px;
    background:#717171;
    position: relative;
    top:15px;
    opacity: 0.7;
    border-bottom:1px solid #313030;
    width: 25%;
    margin: 0 auto;
}

.ingredient-list{
    font-size: 10px;
    position: relative;
    padding: 1em;
    left: 10%;
}

.ingredient-list-separator{
    height:1px;
    background:#717171;
    position: relative;
    opacity: 0.3;
    border-bottom:1px solid #313030;
    width: 100%;
}

.instruction-container{
    margin-top: 50px;
    position: relative;
    left: 10%;
    width: 700px;
    display: inline-block;
}

.instruction-title{
    padding:1em;
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-left:10px;

}

.instruction-title-separator{
    height:1px;
    background:#717171;
    position: relative;
    top:15px;
    opacity: 0.7;
    border-bottom:1px solid #313030;
    width: 10%;
    margin: 0 auto;
}

.instruction-list{
    font-size: 10px;
    position: relative;
    padding: 1em;
    left:30px;
}

.instruction-number{
    background-color: black;
    color:white;
    border-radius: 50px;
    max-width: 30px;
    min-height: 20px;
    text-align: center;
    font-size: 14px;
}

.instruction-info{
    position: relative;
    left: 8%;
    font-size: 14px;
    bottom: 21px;
}

.recipe-category-title{
    padding:1em;
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    max-width: 600px;
    position: relative;
    left: 8%;
}

.review-user-text-container{
    margin: 0 170px 0 170px;
}

.review-user-photo .user-pic {
    height: 60px;
    width: 60px;
    display: inline-block;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}

.review-user-text{
    display: inline-block;
    width: 90%;
    margin-bottom: 50px;
    position: relative;
    top: 10px;
    left: 2px;
}

.review-title-separator{
    height:1px;
    background:#717171;
    position: relative;
    top:15px;
    opacity: 0.7;
    border-bottom:1px solid #313030;
    width: 5%;
    margin: 0 auto;
}

.recipe-category-title-separator{
    height:1px;
    background:#717171;
    position: relative;
    top:15px;
    opacity: 0.7;
    border-bottom:1px solid #313030;
    width: 10%;
    margin: 0 auto;
}

.recipe-category-info-btn{
    border-radius: 24px !important;
    margin-top: 30px;
    background: rgba(255,255,255,0.3) !important;
}

.review-info-btn{
    background: rgba(255,255,255,0.5) !important;
    display: inline-block;
    cursor: pointer;
    color: black;
    padding: 1em;
    width: 24.5%;
    text-align: center;
    margin-bottom: 50px;
    border:none;
}
.review-info-btn:hover{
    color: #aaaaaa;
}

.reviewer{
    width: 100%;
}

.reviewer-name{
    display: inline-block;
    font-size: 16px;
}

.reviewer-rating{
    position: relative;
    right: 0;
    display: inline-block;
    font-size: 10px;
}

.reviewer-review{
    font-size: 14px;
}


.review-title{
    padding:1em;
    color: black;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    margin-left:10px;
}

.review-info-btn-active{
    background-color: #333333 !important;
    color: white;
}

.review-helpful{
    margin-top: 2px;
    font-size: 13px;
    font-family: 'Cabin', sans-serif;
    color: #666666 !important;
}

.review-helpful.clicked{
    color : black !important;
}

.review-helpful:hover{
    color: black !important;
}

.review-helpful.clicked:hover{
    color:#666666 !important;
}

.reviewer-user-photo .user-pic{
    margin-bottom: 20px;
    height: 50px;
    width: 50px;
    display: inline-block;
    float: none;
    top:0;
}

.reviewer-info{
    display: inline-block;
    width: 90%;
    margin-bottom: 20px;
}

.review-spinner{
    position: relative;
    left: 46%;
}

.user-review-info{
    display: inline-block;
    left: -1%;
    position: relative;
    top: 5px;
    margin-bottom: 50px;
}

.user-review-name{
    font-size: 16px;
    display: inline-block;
}

.user-review{
    margin-bottom: 10px;
}

.user-review-edit{
    float: right;
    font-size: 20px;
}

.show-more-button{
    background: rgba(255,255,255,0.5) !important;
    color: black;
    padding: 1em;
    margin-bottom: 50px !important;
    position: relative;
    left: 45%;
}

.category_name{
    color: black;
}

.related-container{
    background-color: #333;
}

.related-title{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 2em;
}

.related-title-separator{
    height:1px;
    background:white;
    position: relative;
    opacity: 0.7;
    bottom:30px;
    border-bottom:1px solid #888888;
    width: 3%;
    margin: 0 auto;
}

.related-info-separator {
    float: left;
    border-right: 1px solid #ddd;
    padding: 0 25px 0 0;
    margin: 0 25px 0 0;
    color: #666;
    font-size: 14px;
}

.related-last-info{
    margin: 0 25px 0 0;
    color: #666;
    font-size: 12px;
}

.related-line-separator-account {
    position: relative;
    left: 8px;
    width: 95%;
    border-top: 1px solid #ddd;
}

.related-item{
    position: relative;
    left: 12.5%;
    top:20px;
    margin-bottom: 20px;
}

.related-bottom-info-separator {
    float: left;
    border-right: 1px solid #ddd;
    padding: 0 25px 0 0;
    margin: 0 10px 0 15px;
    color: #666;
    font-size: 14px;
}

.related-bottom-last-info{
    float: left;
    position: relative;
    color: #666;
    font-size: 14px;
}

.related-bottom-info-separator-eye{
    float: left;
    border-right: 1px solid #ddd;
    padding: 0 38px 0 0;
    color: #666;
    position: relative;
    left: 18px;
    font-size: 14px;
}

.related-thumbnail{
    display: block;
    margin-bottom: 40px;
    background-color: #fff;
}

.related-thumbnail > img,
.related-thumbnail a > img {
    margin-right: auto;
    margin-left: auto;
}

a.related-thumbnail:hover,
a.related-thumbnail:focus,
a.related-thumbnail.active {
    border-color: #337ab7;
}

.related-thumbnail .caption {
    padding: 9px;
    color: #333;
}


.img-responsive,
.related-thumbnail > img,
.related-thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    display: block;
    max-width: 100%;
    height: auto;
}

.control-group {
    display: inline-block;
    width: 200px;
    height: 210px;
    margin: 10px;
    padding: 30px;
    text-align: left;
    vertical-align: top;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

.control {
    font-size: 13px;
    position: relative;
    display: block;
    margin-bottom: 15px;
    padding-left: 30px;
    cursor: pointer;
}

.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius:24px;
    background: #e6e6e6;
}

.buy-ingredient{
    position: relative;
    left: 25%;
    padding: 1em;
}


.control--radio .control__indicator {
    border-radius: 50%;
}

/* Hover and focus states */
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
    background: #ccc;
}

/* Checked state */
.control input:checked ~ .control__indicator {
    background: #2aa1c0;
}

/* Hover state whilst checked */
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
    background: #0e647d;
}

/* Disabled state */
.control input:disabled ~ .control__indicator {
    pointer-events: none;
    opacity: .6;
    background: #e6e6e6;
}

/* Check mark */
.control__indicator:after {
    position: absolute;
    display: none;
    content: '';
}

/* Show check mark */
.control input:checked ~ .control__indicator:after {
    display: block;
}

/* Checkbox tick */
.control--checkbox .control__indicator:after {
    top: 4px;
    left: 8px;
    width: 3px;
    height: 8px;
    transform: rotate(45deg);
    border: solid #fff;
    border-radius: 24px;
    border-width: 0 2px 2px 0;
}

/* Disabled tick colour */
.control--checkbox input:disabled ~ .control__indicator:after {
    border-color: #7b7b7b;
    border-radius: 24px;
}

/* Radio btn inner circle */
.control--radio .control__indicator:after {
    top: 7px;
    left: 7px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
}

.btn-facebook-share{
    color:#fff;
    background-color:#3b5998;
    border-radius:24px !important;
    border-color:rgba(0,0,0,0.2);
    margin-bottom: 10px !important;
}
.btn-facebook-share:hover,.btn-facebook-share:focus,.btn-facebook-share:active,.btn-facebook-share.active,.open .dropdown-toggle .btn-facebook-share{
    color:#fff;
    background-color:#30487b;
    border-color:rgba(0,0,0,0.2);
    border-radius:24px;
    margin-bottom: 10px;
}

.btn-facebook-share:active,.btn-facebook-share.active,.open .dropdown-toggle.btn-facebook-share{background-image:none}
.btn-facebook-share.disabled,.btn-facebook-share[disabled],fieldset[disabled] .btn-facebook-share,.btn-facebook-share.disabled:hover,.btn-facebook-share[disabled]:hover,fieldset[disabled] .btn-facebook-share:hover,.btn-facebook-share.disabled:focus,.btn-facebook-share[disabled]:focus,fieldset[disabled] .btn-facebook-share:focus,.btn-facebook-share.disabled:active,.btn-facebook-share[disabled]:active,fieldset[disabled] .btn-facebook-share:active,.btn-facebook-share.disabled.active,.btn-facebook-share[disabled].active,fieldset[disabled] .btn-facebook-share.active{background-color:#3b5998;border-color:rgba(0,0,0,0.2);border-radius:24px}


.btn-google-plus-share{
    color:#fff;
    background-color:#dd4b39;
    border-color:rgba(0,0,0,0.2);
    border-radius:24px !important;
    font-size:12px !important;
    margin-bottom: 10px !important;

}
.btn-google-plus-share:hover,.btn-google-plus-share:focus,.btn-google-plus-share:active,.btn-google-plus-share.active,.open .dropdown-toggle.btn-google-plus-share
{
    color:#fff;
    background-color:#ca3523;
    border-color:rgba(0,0,0,0.2);
    border-radius: 24px;

}
.btn-google-plus-share:active,.btn-google-plus-share.active,.open .dropdown-toggle.btn-google-plus-share{
    background-image:none
}
.btn-google-plus-share.disabled,.btn-google-plus-share[disabled],fieldset[disabled] .btn-google-plus-share,.btn-google-plus-share.disabled:hover,.btn-google-plus-share[disabled]:hover,fieldset[disabled] .btn-google-plus-share:hover,.btn-google-plus-share.disabled:focus,.btn-google-plus-share[disabled]:focus,fieldset[disabled] .btn-google-plus-share:focus,.btn-google-plus-share.disabled:active,.btn-google-plus-share[disabled]:active,fieldset[disabled] .btn-google-plus-share:active,.btn-google-plus-share.disabled.active,.btn-google-plus-share[disabled].active,fieldset[disabled] .btn-google-plus-share.active{
    background-color:#dd4b39;
    border-color:rgba(0,0,0,0.2);
    border-radius: 24px
}


.btn-twitter-share{
    color:#fff;
    background-color:mediumblue;
    border-color:rgba(0,0,0,0.2);
    border-radius:24px !important;
    font-size:12px !important;
    margin-bottom: 10px !important;

}
.btn-twitter-share:hover,.btn-twitter-share:focus,.btn-twitter-share:active,.btn-twitter-share.active,.open .dropdown-toggle.btn-twitter-share
{
    color:#fff;
    background-color:darkblue;
    border-color:rgba(0,0,0,0.2);
    border-radius: 24px;

}
.btn-twitter-share:active,.btn-twitter-share.active,.open .dropdown-toggle.btn-twitter-share{
    background-image:none
}
.btn-twitter-share.disabled,.btn-twitter-share[disabled],fieldset[disabled] .btn-twitter-share,.btn-twitter-share.disabled:hover,.btn-twitter-share[disabled]:hover,fieldset[disabled] .btn-twitter-share:hover,.btn-twitter-share.disabled:focus,.btn-twitter-share[disabled]:focus,fieldset[disabled] .btn-twitter-share:focus,.btn-twitter-share.disabled:active,.btn-twitter-share[disabled]:active,fieldset[disabled] .btn-twitter-share:active,.btn-twitter-share.disabled.active,.btn-twitter-share[disabled].active,fieldset[disabled] .btn-twitter-share.active{
    background-color:#dd4b39;
    border-color:rgba(0,0,0,0.2);
    border-radius: 24px
}

.btn-pinterest-share{
    color:black;
    background-color:orangered;
    border-color:rgba(0,0,0,0.2);
    border-radius:24px !important;
    font-size:12px !important;

}
.btn-pinterest-share:hover,.btn-pinterest-share:focus,.btn-pinterest-share:active,.btn-pinterest-share.active,.open .dropdown-toggle.btn-pinterest-share
{
    color:#fff;
    background-color:red;
    border-color:rgba(0,0,0,0.2);
    border-radius: 24px;

}
.btn-pinterest-share:active,.btn-pinterest-share.active,.open .dropdown-toggle.btn-pinterest-share{
    background-image:none
}
.btn-pinterest-share.disabled,.btn-pinterest-share[disabled],fieldset[disabled] .btn-pinterest-share,.btn-pinterest-share.disabled:hover,.btn-pinterest-share[disabled]:hover,fieldset[disabled] .btn-pinterest-share:hover,.btn-pinterest-share.disabled:focus,.btn-pinterest-share[disabled]:focus,fieldset[disabled] .btn-pinterest-share:focus,.btn-pinterest-share.disabled:active,.btn-pinterest-share[disabled]:active,fieldset[disabled] .btn-pinterest-share:active,.btn-pinterest-share.disabled.active,.btn-pinterest-share[disabled].active,fieldset[disabled] .btn-pinterest-share.active{
    background-color:#dd4b39;
    border-color:rgba(0,0,0,0.2);
    border-radius: 24px
}

.btn-arrow-left {
    position: relative;
    padding-left: 18px;
    padding-right: 18px;
}
.btn-arrow-right {
    padding-left: 36px;
}
.btn-arrow-left {
    padding-right: 36px;
}
.btn-arrow-right:before,
.btn-arrow-right:after,
.btn-arrow-left:before,
.btn-arrow-left:after { /* make two squares (before and after), looking similar to the button */
    content:"";
    position: absolute;
    top: 5px; /* move it down because of rounded corners */
    width: 22px; /* same as height */
    height: 22px; /* button_outer_height / sqrt(2) */
    background: inherit; /* use parent background */
    border: inherit; /* use parent border */
    border-left-color: transparent; /* hide left border */
    border-bottom-color: transparent; /* hide bottom border */
    border-radius: 0px 4px 0px 0px; /* round arrow corner, the shorthand property doesn't accept "inherit" so it is set to 4px */
    -webkit-border-radius: 0px 4px 0px 0px;
    -moz-border-radius: 0px 4px 0px 0px;
}

.btn-arrow-left:before,
.btn-arrow-left:after {
    transform: rotate(225deg); /* rotate left arrow squares 225 deg to point left */
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
}
.btn-arrow-right:before,
.btn-arrow-left:before { /* align the "before" square to the left */
    left: -11px;
}
.btn-arrow-right:after,
.btn-arrow-left:after { /* align the "after" square to the right */
    right: -11px;
}
.btn-arrow-right:after,
.btn-arrow-left:before { /* bring arrow pointers to front */
    z-index: 1;
}
.btn-arrow-right:before,
.btn-arrow-left:after { /* hide arrow tails background */
    background-color: white;
}

