.search-container{
    background: #1d1811;
    opacity: 1;
    z-index: 1000;
    width: 100%;
}

.suggestion-container{
    text-align: left;
    width: 42.84%;
    left: 25.3%;
    background-color: floralwhite;
    position: absolute;
    z-index:1000;
}

.suggestion-list{
    padding:0.5em;
    font-size: 20px;
    text-decoration: none;
    color:black;
}

.suggestion-list:hover{
    background-color: grey;
}

.suggestion-pic{
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.search-input{
    padding: 2em;
    text-align: center;
}

.search-box{
    width: 45%;
    position: relative;
    top:2px;
    height: 42px;
    font-size: 20px;
}

.search-button{
    font-size: 20px;
    background-color: #8a6d3b;
    color: white;
}

.search-button:hover{
    background-color: #66512c;
    color:black;
    font-weight: bold;
}

.popular-search{
    font-size:14px;
    text-align: left;
    position: relative;
    left: 24%;
}